	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #1874CD;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 100%;
	}

#map
{
	margin-left:5%;
	margin-right:5%;
	margin-bottom:5%;
	height:600px;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		float: none;
		display: block;
		background: #BF1E4B;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 1em 0em;
	}

	#header
	{
	}

/*********************************************************************************/
/* Title                                                                          */
/*********************************************************************************/

	#title
	{
		padding: 0em 0em;
		text-align: center;
	}
	
	#title h1
	{
		font-size: 3.5em;
	}
	
	#title a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#title span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,0.5);
	}

	#title span a
	{
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#wrapper1
	{
		background: #1874CD;
	}
	
	#wrapper2
	{
		overflow: hidden;
		padding: 0em 0em 1em 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
	}

	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}